@using GemVogue.Data.Enums
@model GemVogue.Models.Jewelry.JewelDetailsOutputModel

<div class="page-notification">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li class="breadcrumb-item"><a asp-action="All">Бижутерия</a></li>
                        <li class="breadcrumb-item">@Model.Name</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="directory-details pt-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="small-tittle mb-20">
                    <h1>@Model.Name</h1>
                @if (this.User.IsInRole("Administrator"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id"><span class="text-warning">Редактирай</span></a>
                }
                </div>
                <div class="directory-cap mb-40">
                    <p>@Model.Description</p>
                    
                    <p><b>Производител: </b><a class="text-dark" asp-controller="Brands" asp-action="Details" asp-route-id="@Model.BrandId">@Model.Brand.Name</a></p>
                    @if (Model.Type == JewelryType.Necklace)
                    {
                        <p><b>Категория: </b><a class="text-dark" asp-controller="Jewelry" asp-action="Necklaces">Колиета</a></p>
                    }
                    @if (Model.Type == JewelryType.Ring)
                    {
                        <p><b>Категория: </b><a class="text-dark" asp-controller="Jewelry" asp-action="Rings">Пръстени</a></p>
                    }
                    @if (Model.Type == JewelryType.Earring)
                    {
                        <p><b>Категория: </b><a class="text-dark" asp-controller="Jewelry" asp-action="Earrings">Обеци</a></p>
                    }
                    @if (Model.Type == JewelryType.Bracelet)
                    {
                        <p><b>Категория: </b><a class="text-dark" asp-controller="Jewelry" asp-action="Bracelets">Гривни</a></p>
                    }
                    
                    <p><b>Дата на публикуване: </b>@Model.CreatedOn.ToString("dd.MM.yyyy г.") (Качено преди @((DateTime.Now.Date - Model.CreatedOn.Date).Days) дни)</p>
                </div>
                
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (!Model.IsFavorite)
                    {
                        <form class="m-5" method="post" asp-action="AddToFavorites" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-danger">Добави в любими</button>
                        </form>
                    }

                    @if (Model.IsFavorite)
                    {
                        <form class="m-5" method="post" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-danger">Премахни от любими</button>
                        </form>
                    }
                }
            </div>
            <div class="col-lg-4">
                <div class="map">
                    <img src="@Model.ImageUrl" alt="">
                </div>
                @if (this.User.IsInRole("Administrator"))
                {
                    <form class="m-5" method="post" asp-action="Delete" asp-route-id="@Model.Id">
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>