@model IEnumerable<Jewelry>

@{
    ViewData["Title"] = "List of Jewelry";
}
<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    <th>Снимка</th>
                    <th>Име</th>
                    <th>Описание</th>
                    <th>Материал</th>
                    <th>Действия</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Image" alt="@item.Name" style="max-width:150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Material)
                        </td>
                        <td class="align-middle d-flex gap-1">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Редактиране</a>
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i> Детайли</a>
                            <a class="btn btn-danger"><i class="bi bi-trash"></i> Изтриване</a>
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>